@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('~@/static/css/iconfont.ttf')
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 40rpx;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-selection:before {
  content: "\e6ce";
}

.icon-safe:before {
  content: "\e769";
}

.icon-global:before {
  content: "\e7eb";
}

